<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
	<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
		<!-- Loading Bootstrap -->
		<link href="./dist/css/vendor/bootstrap.min.css" rel="stylesheet">
		<!-- Loading Flat UI -->
		<link href="./dist/css/flat-ui.css" rel="stylesheet">
<style type="text/css" media="screen">
	.welcome{
		padding: 50px;
		font-size: 50px;
		text-align:center;
		margin:0 auto;
	}
	.login_text{
		text-align: center;
		margin: 0 auto;
		font-size: 30px;
	}
	#button{
		padding: 50px;
		display: block;
		text-align: center;
		margin: 0 auto;
	}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
{% if not is_current_user %}
	<p class = 'lead welcome'> Welcome to Node Box! </p>
	<p class ='login_text'> Please login to continue</p>
	<div id='button'>
		<a href = "{{url|safe}}" class='btn btn-hg btn-primary'>
			Login using your Google account
		</a>
	</div>
{% endif %}
</body>
</html>
{% endautoescape %}