<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
		<!-- Loading Bootstrap -->
		<link href="./dist/css/vendor/bootstrap.min.css" rel="stylesheet">
		<!-- Loading Flat UI -->
		<link href="./dist/css/flat-ui.css" rel="stylesheet">
		<script src="./scripts/jquery.js"></script>
		<script src="./scripts/jquery-ui.min.js"></script>
</head>
<body>
	{%if is_current_user %}
		<!-- Navigation bar -->
		<nav class="navbar navbar-inverse" role="navigation">
		  <!-- Navbar content -->
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
			  <span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand" href="/">Note Box</a>
		  </div>
		  <div class="collapse navbar-collapse" id="navbar-collapse-01">
			<p class="navbar-text navbar-right"><a class="navbar-link" href="{{ url|safe }}">{{url_linktext}}</a></p>
			<p class="navbar-text navbar-right">Signed in as <a class="navbar-link" href="#">{{user_nickname}}</a></p>
			<ul class="nav navbar-nav">
			  <li><a href="/list">My List</a></li>
			</ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
		<!-- End Navigation Bar -->
		
		<table>
		<thead><tr><th>File Name</th><th>Date Created</th><th>Operation</th></tr></thead>
		<tbody>
			{% for key, codefile in codefiles.items() %}
				<tr><td><b>{{codefile.title}} </b></td><td>{{codefile.date}}</td><td>				<a href='/view/{{key}}'>View/edit</a></td></tr>
			{% endfor %}
		</tbody>
		</table>
	{%endif%}
</body>
</html>
{% endautoescape %}