<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
<meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
		<!-- Loading Bootstrap -->
		<link href="./dist/css/vendor/bootstrap.min.css" rel="stylesheet">
		<!-- Loading Flat UI -->
		<link href="./dist/css/flat-ui.css" rel="stylesheet">
</head>
<style type="text/css" media="screen">
	.welcome{
		padding: 50px;
		font-size: 50px;
		text-align:center;
		margin:0 auto;
	}
	.login_text{
		text-align: center;
		margin: 0 auto;
		font-size: 30px;
	}
	#button{
		padding: 50px;
		display: block;
		text-align: center;
		margin: 0 auto;
	}
    #editor {
		padding: 10px;
		height: 300px;
		width: 800px;
		margin: 0 auto;
    }
	#main_form_label{
		width: 300px;
		padding: 10px;
		margin: 0 auto;
	}
	
	h3{
		text-align: center;
	}
</style>
<body>
	{% if is_current_user %}
		<!-- Navigation bar -->
		<nav class="navbar navbar-inverse" role="navigation">
		  <!-- Navbar content -->
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
			  <span class="sr-only">Toggle navigation</span>
			</button>
			<a class="navbar-brand" href="/">Note Box</a>
		  </div>
		  <div class="collapse navbar-collapse" id="navbar-collapse-01">
			<p class="navbar-text navbar-right"><a class="navbar-link" href="{{ url|safe }}">{{url_linktext}}</a></p>
			<p class="navbar-text navbar-right">Signed in as <a class="navbar-link" href="#">{{user_nickname}}</a></p>
			<ul class="nav navbar-nav">
			  <li><a href="/list">My List</a></li>
			</ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
		<!-- End Navigation Bar -->
		
		<div class="has-success" style="width:300px">
			<p class="form-control" type="text" placeholder="Error">{{success_text}}</p>
		</div>
	{% endif %}
</body>
</html>
{% endautoescape %}